{% capture category %}{{ post.categories | size }}{% endcapture %}
{% capture tag %}{{ post.tags | size }}{% endcapture %}
{% capture date %}{{ post.date }}{% endcapture %}
{% capture this_year %}{{ date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
	{% assign year = this_year %}
	<div class="center" style="margin:15px">
		<a href="{{ root_url }}/">
			<font size="4" color="#87CEFA">回到首页</font>
		</a>
	</div>
{% endunless %}
<h1><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h1>
<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
{% if category != '0' or tag != '0' %}
<footer>
{% if category != '0' %}
  <span class="categories">分组： {{ post.categories | category_links }}</span>
{% endif %}
{% if tag != '0' %}
  <span class="tags">标签： {{ post.tags | tag_links }}</span>
{% endif %}
</footer>
{% endif %}
